h1 {
    color: #ff6600;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 7rem;
    font-weight: 300;
    max-width: 80vw;
    margin: auto;
}p {
    font-weight: 300;
    max-width: 80vw;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
