* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #0B1215;
}

.navbar-nav {
    flex-direction: row;
    justify-items: center;
}

.logo-img > img {
    width: 100px;
}

.container-a, .container-b, .container-c, .container-d {
    display: grid;
    max-width: 90vw;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

h1 {
    font-size: 3.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2.5rem;
    margin-top: 3%;
    color: #352f36;
}

#thick-text {
    color: gray;
    font-style: italic;
    
}

.container-a {
    background-color: rgb(239, 253, 255);
    grid-template-columns: 2fr 1fr;
    margin: auto;
    align-items: center;
    margin-top: 5%;
    padding: 5%;
    border-radius: 8px;
    gap: 20%;
}

.big-session {
    color: darkslategray;
    padding: 5%;
}

.container-b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5%;
    border-radius: 8px;
}

.container-b > .grid {
    padding: 10%;
    margin: 0 5%;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(238, 236, 236, 0.5);
}

.a {
    background-color: rgba(255, 242, 223, 0.37);
}

.b {
    background-color: rgba(195, 214, 255, 0.295);
}

.c {
    background-color: rgba(252, 219, 255, 0.308);
}

.container-b > .grid > h4 {
    margin-top: 5%;
}

.container-c {
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.third-big-text, .third-small-img {
    padding: 5% 15%;
}

.container-d {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    padding: 5%;
    gap: 3%;
}

.last-big-text {
    color: white;
    padding: 5% 15%;
}

.mid-text {
    padding: 5%;
    background-color: rgba(255, 242, 223, 0.37);
    align-content: center;

}

.last-text {
    padding: 5%;
    align-content: center;
}


/**/
@media (max-width: 576px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        line-height: 2rem;
    }

    img {
        max-width: 100%;
    }
    
    .container-a {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    
    .container-b {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1%;
        border-radius: 8px;
    }
}